#root {
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.app {
  display: grid;
  grid-template-columns: 35% 45%;
  justify-content: space-around;
  gap: 20px;
  min-height: 100dvh;
  padding: 30px;
}

@media (max-width: 1200px) {
  .app {
    grid-template-columns: 45% 55%;
  }
}

@media (max-width: 750px) {
  .app {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}