#root {
  width: 100%;
  height: 100%;
  max-width: 1500px;
}

.app {
  display: grid;
  grid-template-columns: 35% 55%;
  justify-content: space-around;
  gap: 20px;
  min-height: 100dvh;
  padding: 30px;
}