.configuration-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.configuration-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 1em;
  color: #ffffff;
  background-color: #444444;
  border-radius: 15px;
}

.card h2 {
  align-self: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.wrapper.open {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

ion-icon {
  transform: rotate(0deg);
  transition: transform .2s ease-in-out;
}

ion-icon.open {
  transform: rotate(180deg);
  transition: transform .5s ease-in-out;
}

.configuration-element-content {
  width: 100%;
  display: none;
}

.configuration-element-content.open {
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: .5s dropdown ease-in-out;
  transform-origin: top;
}

.content-element-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.17em;
}

.content-element {
  display: grid;
  grid-template-columns: 1fr auto auto;
  border-radius: 5px;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.configuration-form {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.configuration-form-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

label {
  font-weight: 600;
}

input {
  border: solid 1px transparent;
  border-radius: 10px;
  padding: .5rem;
  background-color: #333333;
}

input:focus {
  border-color: #3b83f6;
}

input.error {
  border-color: red;
}

@media (prefers-color-scheme: light) {
  .card {
    color: #333333;
    background-color: #ffffff;
  }

  input {
    background-color: #eeeeee;
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}