.configuration-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 1em;
  color: #ffffff;
  background-color: #444444;
  border-radius: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

label {
  font-weight: 600;
}

input {
  border: solid 1px transparent;
  border-radius: 10px;
  padding: .5rem;
  background-color: #333333;
}

input:focus {
  border-color: #3b83f6;
}

@media (prefers-color-scheme: light) {
  .card {
    color: #333333;
    background-color: #ffffff;
  }

  input {
    background-color: #eeeeee;
  }
}